<p id="notice"><%= notice %></p>

<h1>Quadras</h1>
<div id="map">
  <%=
    map(:center => {
      :latlng => [51.52238797921441, -0.08366235665359283],
      :zoom => 18
    })
  %>
</div>

<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var quadras = JSON.parse('<%=escape_javascript @quadras.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < quadras.length; i++) {
        var quadra = quadras[i];
        var obj = wkt.toObject(wkt.read(quadra.localizacao));
        
        obj.bindPopup(quadra.descricao);
        obj.addTo(map);
      }  
     

</script>



<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Localizacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quadras.each do |quadra| %>
      <tr>
        <td><%= quadra.descricao %></td>
        <td><%= quadra.localizacao %></td>
        <td><%= link_to 'Show', quadra %></td>
        <td><%= link_to 'Edit', edit_quadra_path(quadra) %></td>
        <td><%= link_to 'Destroy', quadra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quadra', new_quadra_path %>
