

<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 15
      }) %>
</div>

<p id="notice"><%= notice %></p>

<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var quadras = JSON.parse('<%=escape_javascript @quadras.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < quadras.length; i++) {
        var quadra = quadras[i];
        var obj = wkt.toObject(wkt.read(quadra.localizacao));
        obj.setStyle({
          color: 'green'
      });
        obj.bindPopup(quadra.descricao);
        obj.addTo(map);
      }  
     

</script>


<h2>Quadras
<%= link_to 'Add', new_quadra_path , class:"btn btn-primary direita"%>
</h2>
<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <!-- <th>Localização</th> -->
      <th colspan="2" style="text-align: center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @quadras.each do |quadra| %>
      <tr>
        <td><%= quadra.id %></td>
        <td><%= quadra.descricao %></td>
        <!-- <td><%= quadra.localizacao %></td> -->
        <td><%= link_to 'Edit', edit_quadra_path(quadra), class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', quadra, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

