
<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 15
    });
  %>
</div>

<p id="notice"><%= notice %></p>

<h2>Rios
<%= link_to '+', new_rio_path , class:"btn btn-primary"%>
</h2>
<br/>
<div id='search-box'>
  <form action='/search' id='search-form' method='get' target='_top'>
    <input id='search-text' name='q' placeholder='Digite sua pesquisa' type='text'/>
    <button id='search-button' type='submit'><span>Buscar</span></button>
  </form>
</div>
<br/>


<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var rios = JSON.parse('<%=escape_javascript @rios.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < rios.length; i++) {
        var rio = rios[i];
        var obj = wkt.toObject(wkt.read(rio.geom));
        
        obj.addTo(map);
      }  
     
      L.easyPrint({
        title: 'Imprimir',
        position: 'bottomright',
        elementsToHide: 'a, table,tr,td,th, #search-box'
      }).addTo(map);    
      
</script>


<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <!-- <th>Geom</th> -->
      <th colspan="2" style="text-align: center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @rios.each do |rio| %>
      <tr>
        <td><%= rio.id %></td>
        <!-- <td><%= rio.geom %></td> -->
        <td><%= link_to 'Edit', edit_rio_path(rio) , class:"btn btn-info"%></td>
        <td><%= link_to 'Destroy', rio, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

