<p id="notice"><%= notice %></p>

<h1>Rios</h1>


<div id="map">
  <%=
    map(:center => {
      :latlng => [51.52238797921441, -0.08366235665359283],
      :zoom => 18
    })
  %>
</div>

<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var rios = JSON.parse('<%=escape_javascript @rios.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < rios.length; i++) {
        var rio = rios[i];
        var obj = wkt.toObject(wkt.read(rio.geom));
        
        obj.bindPopup(rio.descricao);
        obj.addTo(map);
      }  
     

</script>


<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Geom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rios.each do |rio| %>
      <tr>
        <td><%= rio.descricao %></td>
        <td><%= rio.geom %></td>
        <td><%= link_to 'Show', rio %></td>
        <td><%= link_to 'Edit', edit_rio_path(rio) %></td>
        <td><%= link_to 'Destroy', rio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rio', new_rio_path %>
