
<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 15
    });
  %>
</div>

<% if notice.present?%>
<div id="notice" class="alert alert-success alert-dismissible alerta" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= notice %></strong>
</div>
<% end %>

<% if flash_message.present?%>
<div id="notice" class="alert alert-danger alert-dismissible alerta" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= flash_message %></strong>
</div>
<% end %>

<h2>Rios
<%= link_to 'Adicionar', new_rio_path , class:"btn btn-primary adicionar"%>
</h2>
<br/>
<div class='search-box'>
  <form class='search-form' method='get' target='_top'>
    <input class='search-text' id='q' name='q' placeholder='Digite sua pesquisa' type='text' value="<%= params[:q] %>" />
    <button class='search-button' type='submit'><span>Buscar</span></button>
  </form>
</div>
<br/>


<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var rios = JSON.parse('<%=escape_javascript @rios.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < rios.length; i++) {
        var rio = rios[i];
        var obj = wkt.toObject(wkt.read(rio.geom));
        
        obj.addTo(map);
      }  
     
      L.easyPrint({
        title: 'Imprimir',
        position: 'bottomright',
        elementsToHide: 'a, table,tr,td,th, #search-box'
      }).addTo(map);    
      
</script>


<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th colspan="2" style="text-align: center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @rios.each do |rio| %>
      <tr>
        <td><%= rio.id %></td>
        <td><%= rio.descricao %></td> 
        <td><%= link_to 'Editar', edit_rio_path(rio) , class:"btn btn-info"%></td>
        <td><%= link_to 'Deletar', rio, method: :delete, data: { confirm: 'Deseja deletar?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

