<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 16
    });
  %>
</div>


<% if notice.present?%>
<div id="notice" class="alert alert-success alert-dismissible alerta" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= notice %></strong>
</div>
<% end %>

<% if flash_message.present?%>
<div id="notice_erro" class="alert alert-danger alert-dismissible alerta" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= flash_message %></strong>
</div>
<% end %>

<h2>Ferrovias
<%= link_to 'Adicionar', new_ferrovium_path , class:"btn btn-primary adicionar"%>
</h2>
<br/>
<div class='search-box'>
  <form class='search-form' method='get' target='_top' id="search-form">
    <input class='search-text' id='q' name='q' placeholder='Digite sua pesquisa' type='text'/>
    <button class='search-button' id="submit" type='submit'><span>Buscar</span></button>
  </form>
</div>
<br/>

<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var ferrovia = JSON.parse('<%=escape_javascript @ferrovia.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < ferrovia.length; i++) {
        var ferrovium = ferrovia[i];
        var obj = wkt.toObject(wkt.read(ferrovium.geom));
        obj.setStyle({
          color: 'brown'
      });
        obj.addTo(map);
      }  
     
      L.easyPrint({
        title: 'Imprimir',
        position: 'bottomright',
        elementsToHide: 'a, table,tr,td,th, .search-box'
      }).addTo(map);    
</script>

<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th colspan="2" style="text-align: center;">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @ferrovia.each do |ferrovium| %>
      <tr>
        <td><%= ferrovium.id %></td>
        <td><%= ferrovium.descricao %></td>
        <td><%= link_to 'Editar', edit_ferrovium_path(ferrovium), class:"btn btn-info" %></td>
        <td><%= link_to 'Deletar', ferrovium, method: :delete, data: { confirm: 'Deseja deletar?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>