<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 15
    })
  %>
</div>
<br>

<script type="text/javascript">

   
   var quadras = JSON.parse('<%=escape_javascript @quadras.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < quadras.length; i++) {
        var quadra = quadras[i];
        var obj = wkt.toObject(wkt.read(quadra.localizacao));
        obj.bindPopup(quadra.descricao);
        obj.setStyle({
		      color: 'green'
		  });
        obj.addTo(map);
      }  

    var rios = JSON.parse('<%=escape_javascript @rios.to_json %>'.replace(/&quot;/g,'"'));

     
    for (var i = 0; i < rios.length; i++) {
        var rio = rios[i];
        var obj = wkt.toObject(wkt.read(rio.geom));
        
        obj.addTo(map);
      }

    var logradouros = JSON.parse('<%=escape_javascript @logradouros.to_json %>'.replace(/&quot;/g,'"'));

     
    for (var i = 0; i < logradouros.length; i++) {
        var logradouro = logradouros[i];
        var obj = wkt.toObject(wkt.read(logradouro.localizacao));
        
        obj.bindPopup(logradouro.descricao);
        obj.setStyle({
          color: 'red'
        });
        obj.addTo(map);
      }

    var edificacaos = JSON.parse('<%=escape_javascript @edificacaos.to_json %>'.replace(/&quot;/g,'"'));

    for (var i = 0; i < edificacaos.length; i++) {
        var edificacao = edificacaos[i];
        var obj = wkt.toObject(wkt.read(edificacao.geom));
        obj.bindPopup(edificacao.descricao);

        obj.addTo(map);
      } 
      
    var lagos = JSON.parse('<%=escape_javascript @lagos.to_json %>'.replace(/&quot;/g,'"'));

    for (var i = 0; i < lagos.length; i++) {
        var lago = lagos[i];
        var obj = wkt.toObject(wkt.read(lago.geom));
        obj.setStyle({
          color: 'blue'
      });
        obj.addTo(map);
      }   
    
    var ferrovia = JSON.parse('<%=escape_javascript @ferrovia.to_json %>'.replace(/&quot;/g,'"'));

    for (var i = 0; i < ferrovia.length; i++) {
        var ferrovium = ferrovia[i];
        var obj = wkt.toObject(wkt.read(ferrovium.geom));
        
        obj.addTo(map);
      }  
    
    var pontes = JSON.parse('<%=escape_javascript @pontes.to_json %>'.replace(/&quot;/g,'"'));
     
    for (var i = 0; i < pontes.length; i++) {
        var ponte = pontes[i];
        var obj = wkt.toObject(wkt.read(ponte.geom));
        obj.setStyle({
          color: 'blue'
        });
        
        obj.addTo(map);
    }

    var rodovias = JSON.parse('<%=escape_javascript @rodovia.to_json %>'.replace(/&quot;/g,'"'));
     
    for (var i = 0; i < rodovias.length; i++) {
        var rodovia = rodovias[i];
        var obj = wkt.toObject(wkt.read(rodovia.geom));
        obj.setStyle({
          color:'#696c70',
          dashArray: '20,15',
          lineJoin: 'round'
        });
        obj.addTo(map);
      }
    var estradas = JSON.parse('<%=escape_javascript @estradas.to_json %>'.replace(/&quot;/g,'"'));
     
    for (var i = 0; i < estradas.length; i++) {
        var estrada = estradas[i];
        var obj = wkt.toObject(wkt.read(estrada.geom));
        
        obj.setStyle({
          color: 'blue'
        });
        obj.addTo(map);
    }

    L.easyPrint({
      title: 'Imprimir',
      position: 'bottomright',
      elementsToHide: 'table,tr,td,th, #search-form'
    }).addTo(map);    

</script>


<div class='search-box'>
  <form action='/search' class='search-form' method='get' target='_top'>
    <input class='search-text' name='q' placeholder='Digite sua pesquisa' type='text'/>
    <button class='search-button' type='submit'><span>Buscar</span></button>
  </form>
</div>

<div class="layers">

	<table class="table">
    <thead>
      <th>Layers</th>
      <th></th>
      <th></th>
    </thead>
		<tbody>
			<tr>
				<td>Quadras</td>
				<td><%= link_to 'Detalhes', quadras_path, class:""%></td>
				<td><%= link_to 'Adicionar', new_quadra_path, class:""%></td>
			</tr>
			<tr>
				<td>Rios</td>
				<td><%= link_to 'Detalhes', rios_path, class:""%></td>
				<td><%= link_to 'Adicionar', new_rio_path, class:""%></td>
			</tr>
      <tr>
        <td>Logradouros</td>
        <td><%= link_to 'Detalhes', logradouros_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_logradouro_path, class:""%></td>
      </tr>
      <tr>
        <td>Edificações</td>
        <td><%= link_to 'Detalhes', edificacaos_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_edificacao_path, class:""%></td>
      </tr>
      <tr>
        <td>Lagos</td>
        <td><%= link_to 'Detalhes', lagos_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_lago_path, class:""%></td>
      </tr>
       <tr>
        <td>Ferrovias</td>
        <td><%= link_to 'Detalhes', ferrovia_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_ferrovium_path, class:""%></td>
      </tr>
      <tr>
        <td>Pontes</td>
        <td><%= link_to 'Detalhes', pontes_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_ponte_path, class:""%></td>
      </tr>
      <tr>
        <td>Rodovias</td>
        <td><%= link_to 'Detalhes', rodovia_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_rodovium_path, class:""%></td>
      </tr>
      <tr>
        <td>Estradas</td>
        <td><%= link_to 'Detalhes', estradas_path, class:""%></td>
        <td><%= link_to 'Adicionar', new_estrada_path, class:""%></td>
      </tr>
		</tbody>
	</table>

</div>