<%= form_for(logradouro) do |f| %>
  <% if logradouro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logradouro.errors.count, "error") %> prohibited this logradouro from being saved:</h2>

      <ul>
      <% logradouro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label 'Descrição', class:"control-label col-md-2" %>
    <%= f.text_field :descricao , class:"form-control caixa"%>
  </div>

  <div class="form-group hidden">
    <%= f.label 'Localização', class:"control-label col-md-2" %>
    <%= f.text_field :localizacao, class:"form-control caixa" %>
  </div>

  <div class="form-group">
      <%= f.label :quadra_direita, class:"control-label col-md-2" %>
      <%= f.collection_select :quadra_direita_id, Quadra.all, :id,:descricao, {}, class:"form-control caixa"  %> 
 <div>
 <br/>
 <div class="form-group">
      <%= f.label :quadra_esquerda, class:"control-label col-md-2" %>
     <%= f.collection_select :quadra_esquerda_id, Quadra.all, :id,:descricao, {},class:"form-control caixa"  %>
 <div>
 <br/>

   <div class="form-group">
    <%= f.label 'Numeração a Direita', class:"control-label col-md-2" %>
    <%= f.text_field :numeracao_direita, class:"form-control caixa" %>
  </div>

  <div class="form-group">
    <%= f.label 'Numeração a Esquerda', class:"control-label col-md-2" %>
    <%= f.text_field :numeracao_esquerda, class:"form-control caixa" %>
  </div>
  
  <div class="form-group">
    <%= f.label 'Infraestrutura Existente', class:"control-label col-md-2" %>
    <%= f.text_field :infraestrutura_existente, class:"form-control caixa" %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', class:"btn btn-primary"%>
  </div>
  <br/>
<% end %>