<p id="notice"><%= notice %></p>

<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 18
    })
  %>
</div>

<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var logradouros = JSON.parse('<%=escape_javascript @logradouros.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < logradouros.length; i++) {
        var logradouro = logradouros[i];
        var obj = wkt.toObject(wkt.read(logradouro.localizacao));
        obj.setStyle({
          color: 'red'
      });
        obj.bindPopup(logradouro.descricao);
        obj.addTo(map);
      }  


       L.easyPrint({
        title: 'Imprimir',
        position: 'bottomright',
        elementsToHide: 'a, table,tr,td,th, #search-box'
      }).addTo(map);    
     
</script>


<h2>Logradouros
<%= link_to '+', new_logradouro_path , class:"btn btn-primary"%>
</h2>
<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descricao</th>
      <!-- <th>Localizacao</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logradouros.each do |logradouro| %>
      <tr>
        <td><%= logradouro.id %></td>
        <td><%= logradouro.descricao %></td>
        <!-- <td><%= logradouro.localizacao %></td> -->
        <td><%= link_to 'Edit', edit_logradouro_path(logradouro), class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', logradouro, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>  