<div id="map" class="mapa">
  <%=
    map(:center => {
      :latlng => [-5.360528731202039, -42.67536163330079],
      :zoom => 16
    });
  %>
</div>

<% if notice.present?%>
<div id="notice" class="alert alert-success alert-dismissible alerta" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= notice %></strong>
</div>
<% end %>

<% if flash_message.present?%>
<div id="notice_erro" class="alert alert-danger alert-dismissible alerta" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%= flash_message %></strong>
</div>
<% end %>

<h2>Estradas
<%= link_to 'Adicionar', new_estrada_path , class:"btn btn-primary adicionar"%>
</h2>
<br/>
<div class='search-box'>
  <form class='search-form' method='get' target='_top' id="search-form">
    <input class='search-text' id='q' name='q' placeholder='Digite sua pesquisa' type='text'/>
    <button class='search-button' id="submit" type='submit'><span>Buscar</span></button>
  </form>
</div>
<br/>
<script type="text/javascript">

   var drawnItems = new L.FeatureGroup();
   var estradas = JSON.parse('<%=escape_javascript @estradas.to_json %>'.replace(/&quot;/g,'"'));

        
     var wkt = new Wkt.Wkt();
     
    for (var i = 0; i < estradas.length; i++) {
        var estrada = estradas[i];
        var obj = wkt.toObject(wkt.read(estrada.geom));
        obj.bindPopup(estrada.descricao);
        obj.setStyle({
          color: "orange"
        })
        
        obj.addTo(map);
      }  

      L.easyPrint({
        title: 'Imprimir',
        position: 'bottomright',
        elementsToHide: 'a, table,tr,td,th, #search-box'
      }).addTo(map);    
</script>

<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th colspan="2" style="text-align: center;">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @estradas.each do |estrada| %>
      <tr>
        <td><%= estrada.id %></td>
        <td><%= estrada.descricao %></td>
        <td><%= link_to 'Editar', edit_estrada_path(estrada), class:"btn btn-info" %></td>
        <td><%= link_to 'Deletar', estrada, method: :delete, data: { confirm: 'Deseja deletar?' } ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>