<!DOCTYPE html>
<html>
  <head>
    <title>Geo - Demerval Lobão</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket-leaflet.min.js'></script>
    
  </head>

  <body>
    <div class="nav">
      <ul>
        <li> <%= link_to 'Geo - Demerval Lobão', root_path %></li>
      </ul>
     
    </div>
	  <div class="conteudo">
	    <%= yield %>
	  </div>

  </body>
</html>
